<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="GitHub" value="https://nuget.pkg.github.com/<your-github-username>/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="your-github-username" />
      <add key="ClearTextPassword" value="your-personal-access-token" />
    </GitHub>
  </packageSourceCredentials>
</configuration>